@import "https://i.icomoon.io/public/98011504ce/Icons/style.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=range].white::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

:root {
  --tv-schedules-app-color: #9D7EAC;
}

html {
  background-color: black;
}